
/* ANIMATION SPINNER */

.block__ring {
    background-color: white;
    -webkit-animation: bk 4s ease-in;
    animation: bk 4s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 4;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  
  @-webkit-keyframes bk {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -2;
    }
  }
  
  @keyframes bk {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -2;
    }
  }
.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #9356DC;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family: Shrikhand, sans-serif;
  font-size:40px;
  color:#9356DC;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #9356DC;
  box-shadow:0 0 20px rgba(0,0,0,.5);
  background-color: white;
  -webkit-animation: bk 3s ease-in;
  animation: bk 3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #99E2D0;
  border-right:3px solid #99E2D0;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}


@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

@-webkit-keyframes bk {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -2;
    }
  }
  
  @keyframes bk {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -2;
    }
  }